<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        {%- for item in lista -%}
        <li>
            <h3>{{ item.get("name") }}</h3>
            <p>{{ item.get("price") }} - {{ item.get("cant") }}</p>
        </li>
        {% endfor %}
    </ol>
    <form action="/post/product" method="post">
        <input type="text" name="producto" id="producto" placeholder="Producto a agregar">
        <input type="number" name="precio" id="precio" placeholder="Precio">
        <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad">
        <button type="submit">Send form</button>
    </form>
</body>
</html>